body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 6rem;
  text-align: center;
  color: red;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

#header {
  margin-bottom: 40px;
  margin-top: 40px;
}

.aboutMe {
  font-size: 1.75rem;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: 75px;
  margin-left: 75px;
  text-align: center;
}

.jobDescriptions li {
  font-size: 2rem;
  margin-left: 75px;
  margin-right: 75px;
}

.jobs {
  font-size: 3rem;
  color: yellow;
  margin-left: 75px;
  margin-right: 75px;

}

em {
  font-size: 2rem;
  color: rgb(206, 123, 15);
}

.workHistory {
  font-size: 5rem;
  margin-left: 75px;
  margin-right: 75px;
  color: red;
}

.tenThingsIEnjoy {
  font-size: 50px;
  margin-right: 75px;
  padding-bottom: 25px;
  color: red;
  
}

.firstThing {
  padding-top: 25px;
  color: white;
  font-size: 1.5rem;
}

.listOfTenThings {
  font-size: 1.4rem;
  text-align: left;
  color: white;
}
.header {
  text-align: center;

}

p {
  font-size: 2rem;
  margin-bottom: 0px;
  text-align: left;
  border: none;
}

li {
  font-size: 1rem;
  margin-top: 0px;
  border: none;
  margin-right: none;
}

.pictures {
  border-radius: 50%;
  border: none;
  float: left;  
  padding: 75px;
}

